@tailwind base;
@tailwind components;
@tailwind utilities;

.navber__link.active {
  color: #c61f1f;
}
.img {
  height: 640px;
  border-radius: 12px;
}
.swiper-button-prev {
  display: none;
}
.main-p {
  border: 1px solid #322d2d;
}
body {
  background-color: #fafafa;
  color: #333333;
}

body.dark {
  background-color: #020617;
  color: #d1d5db;
}

input:focus {
  outline: none;
}
